@media(max-width:900px) {
    .section__flex-block {
        display: block;
        max-width: 1077px;
    }
    .flex__block-button {
        margin: 100px 0 0 0;
        display: flex;
        justify-content: center;
    }
}
@media(max-width:825px){
    .whoweare__main-content__trace {
        left: 80px;
    }
    .whoweare__main-content__rocket {
        left: 110px;
    }
    .whoweare__main-content__orange-trace-circle {
        right: 322px;
    }
    .members-flex__item:first-child {
        padding: 22px 0 22px 250px;
    }
    .members-flex__item:nth-of-type(2) {
        padding: 0 0 0 40px;
    }
    .members-flex__item:nth-of-type(3) {
        padding: 22px 0 22px 220px;
    }
    .members-flex__item:nth-of-type(5) {
        padding: 106px 0 22px 150px;
    }
}
@media(max-width:767px){
    .whoweare__main-content {
        display: block;
        padding: 26px 0 0 0;
    }
    .whoweare__top-content .whoweare__h1 {
        font-size: 20px;
    }
    .whoweare__top-content .whoweare__h3 {
        display: none;
    }
    .whoweare__h1__orange {
        font-size: 15px;
        
    }
    .whoweare__main-content-left .blue-diamond,
    .whoweare__main-content-left .orange-diamond {
        display: none;    
    }
    .whoweare__main-content-left .whoweare__text {
        font-size: 15px;
        line-height: 18px;
        max-width: 400px;
    }
    .whoweare__btn {
        top: 45px;
    }
    .whoweare__btn .whoweare__button-link {
        font-size: 10px;
        padding: 20px 30px;
    }
    .whoweare__button-borderlink {
        top: -15px;
        left: -3px;
        width: 210px;
        height: 47px;

    }
    
}
@media (min-device-width: 320px)
and (max-device-width: 480px){

}



@media (max-width:550px) {
    .section__container{
        padding: 0 20px;
    }
    .section-title {
        padding: 130px 0 0 0;
    }
    .flex__block-button {
        margin: 50px 0 0 0;
        
    }
    .section-title-h1,
    .flex__block-title {
        font-size: 23px;
        line-height: 25px;
    }
     .flex__block-link {
        padding: 16px 30px;
        font-size: 10px;
    }
    .flex__block-borderlink {
        top: -12px;
        left: -3px;
        width: 167px;
        height: 38px;
    } 
    .whoweare__btn {
        display: none;
    }
    .whoweare__main-content-right {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50px;
    }
    .whoweare__members-flex {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        height: 380px;
  
    }
    .members-flex__item{
        padding: 10px 8px !important;
        background-color: #FE7B59;
        max-width: 234px;
    }
    .orange_bgc_block {
        display: none;
    }
    .flex__item-num {
        font-size: 30px;
        
    }
    .flex__item-subtitle {
        display: flex;
        justify-content: space-between;
    }
    .flex__item-subtitle > p{
        padding: 0 6px;
    }
    .whoweare__main-content__orange-circle {
        display: none;
    }
    .whoweare__main-content__trace {
        transform: rotate(170deg); 
        bottom: -40px;
        left: 130px;
    }
    .svg {
        filter: brightness(0) ;
    }
    .whoweare__main-content__rocket {
        bottom: -107px;
        transform: rotate(163deg);
    }
    .whoweare__main-content__rocket > img{
        transform: rotate(182deg);
    }
    .whoweare__main-content__blue-diamond.blue_diamond_1,
    .whoweare__main-content__blue-diamond.blue_diamond_2 {
        display: none;
    }
    
    /*---------------------------------------*/
    /* Frame container */
    /*---------------------------------------*/
    .frame__container {
        padding: 75px 40px 0 40px;
        
    }
}



