/*Connecting Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300;400;500;700&display=swap');
@font-face {
    font-family: 'neue_outline';
    src: url('../fonts/neuemetananextoutline-black-webfont.woff2') format('woff2'),
         url('../fonts/neuemetananextoutline-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'neue_free';
    src: url('../fonts/neuemetananext-semibold-webfont.woff2') format('woff2'),
         url('../fonts/neuemetananext-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Inter Tight', sans-serif;
    height: 2500px;
    margin-right: 0 !important;
    
}
body._lock {
    overflow: hidden;
}



/*---------------------------------------*/
/* Header container */
/*---------------------------------------*/
.fa-chevron-right {
    font-size: 12px !important;
    position: relative !important;
    top: -1px !important;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color:#fff;
}
.header__container {
    max-width: 1750px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__icon {
    display: none;
}
.menu__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list > li {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    margin: 0 0 0 50px;
}
.menu__link-item {
    display: none;
}
.menu__link {
    color: #000
}
.menu__list li:last-child {
    margin: 0 50px;
}
.menu__link:hover {
    color: rgb(110, 110, 110);
}
.header__toggle-language-list,
.menu__sub-list {
    display: flex;
}
.toggle-language-item {
    font-weight: 300;
}
.menu__sub-link {
    padding: 0 0 0 5px;
    color: #FE7B59;
    font-weight: 200;
    font-style: 15px; 
}
.menu__sub-link:hover {
    filter: brightness(0.8);
}
.menu__contact-list {
    display: none;
}

/* --------------------------*/
body._pc .header__toggle-language-list:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    pointer-events: all;
}
body._touch .menu__sub-list._active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    pointer-events: all;
}
body._touch .fa-chevron-right._active{
    transform: rotate(180deg);
    padding: 0;
}
.menu__sub-list {
        transform: translateX(-20px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all .3s ease;
    }

/* --------------------------*/
/*---------------------------*/
.line-block {
    background-color: #000;
    height: 1px;
    display: none;
    z-index: 5;
    position: relative;
}



/*---------------------------*/
/*Adaptive header styles*/
/*---------------------------*/

@media (min-width:767px) {
    .menu__list {
        display: flex;
        align-items: center;
    }   
}
@media (max-width:767px) {
    .header__logo > img {
        width: 50px;
        z-index: 5;
        position: relative;
    }
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 25px;
        height: 16px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        transition: all .3s ease 0s;
        background-color: #000;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: '';
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translateY(-50%);
    }
    .menu__icon._active span{
        transform: scale(0) translateY(-50%);
    }
    .menu__icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
    }
    .menu__icon._active::after{
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
    }
    .menu__link-item,
    .menu__contact-item {
        font-weight: 500 !important;
    }
    .menu__list > li,
    .menu__contact-list > li,
    .menu__list li:last-child {
        padding: 0 0 10px 0;
        margin: 0;
        font-size: 20px;
    }
    .header__toggle-language-list {
        position: fixed;
        bottom: -20%;
        left: 0;
        background-color: #000;
        padding: 15px 0 15px 20px;
        width: 100%;
        transition: bottom .3s ease 0s;
        align-items: end;
    }
    .header__toggle-language-list._active {
        bottom: -0;
    }
    .toggle-language-item {
        color: #fff;
        font-size: 12px;
    }
    .menu__sub-link {
        padding: 0 0 0 5px;
        color: #fff;
        font-weight: 200;
        font-size: 12px; 
    }
    .menu__body {
        position: fixed;
        top: -120%;
        left: 0;
        padding: 150px 0 0 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        align-items: start;
        background-color: rgba(255,255,255,0.97);
        transition: left .3s ease 0s;
        overflow: auto !important;
        transition: top .3s ease 0s;
    }
    .menu__body._active {
        top: 0;
    } 
    .menu__link-item {
        display: block;
    }
    .menu__contact-list {
        display: block;
    }
    
    body._touch .menu__sub-list {
        transform: translateX(-20px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all .3s ease;
    }
    .line-block {
        display: block;
    }
    .fa-chevron-right {
        font-size: 10px;
        padding: 0 0 0 5px;
    }
     
}

/*---------------------------------------*/
/* Title container */
/*---------------------------------------*/

.section__container {
    max-width: 1634px;
    margin: 0 auto;
    padding: 0 40px;
}
.section-title {
    padding: 190px 0 0 0;
}
.neue_free {
    font-family: 'neue_free';
}
.section-title-h1 {
    font-family: 'neue_outline';
    font-size: 60px;
    line-height: 70px;
}
.neue_free-orange {
    color: #D86642;
}
.section__flex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1077px;
}
.flex__block-title {
    font-family: 'neue_outline';
    font-size: 60px;
}



/*---------------------------------------*/
/* Hover button styles */
/*---------------------------------------*/
.whoweare__button {
    width: 301px !important;
}
.flex__block-link,
.whoweare__button-link {
    position: relative;
    font-size: 14px;
    font-family: 'neue_free';
    border-radius: 30px;
    padding: 20px 45px ;
    color: #fff;
    background-color: #000;
    transition: all .3s ease-in-out ;
}
.whoweare__button-link {
    top: 100px;
}
.flex__block-link::before,
.whoweare__button-link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-radius: 30px;
    padding: 17px 25px;
    width: 185px;
    height: 21px;   
    border: 4px solid #FE7B59;
    transform: rotate(352deg);
    transition: all .1s ease-in-out;
}
.whoweare__button-link::before {
    width: 245px;
}
.flex__block-link:hover,
.whoweare__button-link:hover {
    background-color: #fff;
    color: #000;
}
.flex__block-link:hover.flex__block-link::before,
.whoweare__button-link:hover.whoweare__button-link::before {
    transform: rotate(360deg);
    
}
.flex__block-button {
    
}




/*---------------------------------------*/
/* Frame container */
/*---------------------------------------*/

.frame__container {
    padding: 135px 40px 0 40px;
    max-width: 1000px;
    margin: 0 auto;
    
}
.bgc-video {
    width: 100%;
    height: auto;
    max-height: 100%;
}


/*---------------------------------------*/
/* Who we are container */
/*---------------------------------------*/

.whoweare__container {
    max-width: 1634px;
    margin: 0 auto;
    padding: 85px 20px 0 20px;
}
.whoweare__top-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 0 5px 0;
}
.whoweare__h1 {
    font-family: 'neue_free';
    font-size: 35px;
}
.whoweare__h3 {
    font-family: 'neue_free';
    font-size: 16px;
    padding: 0 0 3px 0;
}
.whoweare__line-block {
    background-color: #000;
    width: 100%;
    height: 1px;
}
.whoweare__h1__orange {
    font-family: 'neue_free';
    color: #D86642;
    font-size: 20px;
    padding: 7px 0 0 0;
}
.whoweare__main-content {
    display: flex;
    justify-content: space-between;
    height: 505px;
    align-items: end;
    
}
.whoweare__main-content-left {
    position: relative;
}
.blue-diamond {
    position: absolute;
    top: -340px;
    left: 170px;
    
}
.orange-diamond {
    position: absolute;
    top: -280px;
    right: -20px;
}
.whoweare__text {
    max-width: 320px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
}
.whoweare__main-content-right{
    position: relative;
    top: 127px ;
}

/*---------------------------------------*/
/* What we offer*/
/*---------------------------------------*/
.what-we-offer {
    margin: 111px 0 0 0;
}
.what-we-offer__container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 20px;
}
.what-we-offer__top-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: 'neue_free';
}
.what-we-offer__top-title__left-text {
    margin: 0 0 0 4px;
    font-size: 35px;
    line-height: 37.76px;
}
.what-we-offer__top-title__right-text {
    font-size: 16px;
    line-height: 140%;
    margin: 0 4px 0 0;
}
.what-we-offer__line {
    width: 100%;
    background-color: #000;
    height: 1px;
    margin: 3px 0 0 0;
}
.what-we-offer__undertitle {
    font-family: 'neue_free';
    color: #D86642;
    font-size: 20px;
    margin: 10px 0 0 0;
}


/*---------What we offer grid---------*/
.what-we-offer__d-grid {
    margin: 55px 0 0 0;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, max(280px));
    grid-gap: 35px 130px;
    justify-content: center;
}
.what-we-offer__grid-item {
}
.what-we-offer__grid-title {
    margin: 23px 0 80px 0;
    font-family: 'neue_free';
    font-size: 25px;
}
.what-we-offer__grid-text {
    font-family: 'Inter Tight';
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}
.item03 .what-we-offer__grid-title {
    margin: 23px 0 54px 0;
}
.item02 .what-we-offer__grid-text {
    overflow: hidden;
    height: 36px;
}
.grid-hidden-text {
    transition: all .5s ease-in-out;
}
.item02 .what-we-offer__grid-text.active {
    overflow: hidden;   
    height: 85px;
}
.what-we-offer__grid-item .item02 {
    position: relative;
}
.what-we-offer__grid-btn {
    text-decoration: none;
    color: #858585;
    transition:  .2s ease-in-out;
    position: absolute;
}
.what-we-offer__grid-btn:hover {
    cursor: pointer;
}
.what-we-offer__grid-btn.hidden {
    display: none;
    transition: all 1s ease-in-out;
}
.grid-img01, 
.grid-img04, 
.grid-img05 {
    transform: rotate(323deg);
}
/*----------Media-grid-----------*/

@media(max-width:1160px) {
    .what-we-offer__d-grid {
        grid-gap: 35px 50px;
    }
}
@media(max-width:1000px) {
    .what-we-offer__d-grid {
        grid-template-columns: repeat(2, max(280px));  
    }
}
@media(max-width:650px) {
    .what-we-offer__d-grid {
        margin: 35px 0 0 0;
        grid-template-columns: repeat(1, max(200px));  
    }
    .what-we-offer__top-title__left-text {
        line-height: 20px;
        font-size: 20px;
    }
    .what-we-offer__top-title__right-text {
        display: none;
    }
    .what-we-offer__undertitle{
        font-size: 15px;
        margin: 5px 0 0 5px;
    }
    
    .what-we-offer__grid-title {
        margin: 23px 0 30px 0;
        font-size: 20px;
        text-align: center;
    }
    .what-we-offer__grid-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
    }
    .item03 .what-we-offer__grid-title {
        margin: 23px 0 30px 0;
    }
    .what-we-offer__img-block {
        text-align: center;
    }
    .item02 {
        display: none;
    }
    .item05 {
        grid-row: 2;
    }
}



/*---------------------------------------*/
/* Ask something block*/
/*---------------------------------------*/
.ask-something {
    margin: 150px 0 0 0;
    padding: 5px 20px;
    background-color: #D86642;
}
.ask-something__container {
    max-width: 700px;
    margin: 0 auto;
}
.ask-something__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ask-something__content > img {
    
}
.ask-something__text {
    font-size: 18px;
    color: #fff;
}
.ask-something__link {
    color: #fff;
    text-decoration:underline 
}



/*---------------------------------------*/
/* Footer*/
/*---------------------------------------*/
.footer {
    background-color: #000;
    padding: 87px 20px 93px 20px;
}
.footer__container {
    max-width: calc(100% - 200px);
    margin: 0 auto;
}
.footer__content {
    display: flex;
    justify-content: space-between;
}
.footer__logo {
    max-width: 225px;
}
.footer__logo > img {
    width: 225px;
    border: 1px solid #fff;
}
.footer__logo-subtitle {
    color: #fff;
    margin: 20px 0 0 0;
    font-weight: 300;
    font-size: 14px;
}
.footer__links {
    margin:  0 0 0 171px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px  solid #fff;
}
.footer__links li {
    margin: 0 0 20px 0;
    width: 120px;
}
.footer__title-link {
    color: #fff;
    font-weight: 500;
    font-size: 22px !important;
    margin: 0 0 40px 0 !important;
}
.footer-link {
    color: #fff;
    margin: 17px 0 0 0;
    font-weight: 100;
    font-size: 15px;
    transition: all .1s ease;
}
.footer-link:hover {
    color: rgb(176, 176, 176);
}
.footer__links__follow-us {
    margin: 0 200px 0 0;
}
.follow-us-link {
}
.footer__links__contact-us {
}
.contact-us-link {
}


/*---------------------------------------*/
/* Media Footer*/
/*---------------------------------------*/
@media (max-width:1200px) {
    .footer__container {
        max-width: calc(100% - 100px);
    }
    .footer__links__follow-us {
        margin: 0 100px 0 0;
    }
    .footer__links__contact-us > li:last-child {
        width: 170px;
    }
    .footer__links {
        margin: 0 0 0 80px;
    }
}
@media (max-width:1000px) {
    .footer__content {
        display: block;
    }
    .footer__links {
        margin: 50px 0 0 0 ;
    }
    
    
}
@media (max-width:767px) {
    .footer__container {
        max-width: 100%;
    }
    .footer-link {
        font-size: 10px;
    }
    .footer__logo > img {
        width: 118px;
    }
    .footer__title-link {
        color: #fff;
        font-weight: 500;
        font-size: 15px !important;
        margin: 0 0 20px 0 !important;
    }
    .footer__links li {
        margin: 0 0 10px 0;
        width: 80px;
    }
    .footer__links__contact-us > li:last-child {
        width: 100px;
    }
    .footer__links__follow-us {
        margin: 0;
    }
}